:root {
    background-color: #F2A007;
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
:root img {
    width: 100%;
}

/* Global styles
------------------------------------*/

body {
    max-width: 1920px;
    margin: 100px auto;
    border: 10px solid #011526;
}

.grid-container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 2.5% 2.5% 30% 30% 30% 2.5% 2.5%;
}

button {
    outline: none;
    border: none;
    background: none;
    padding: 0;
}


/* Graphics 
------------------------------------*/

.writing { 
    grid-area: 2 / 3 / span 1 / span 2;
    margin: 0 auto;
}

.lights { 
    grid-area: 2 / 1 / span 2 / span 7;
    width: 100%;
}

.champagneLeft { 
    grid-area: 3 / 3 / span 1 / span 1;
}

.rainbow {
    grid-area: 3 / 1 / span 1 / span 7;
    margin-top: 13%;
}

.rainbow img {
    width: 100%;
}

.main { 
    grid-area: 3 / 4 / span 1 / span 1;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    width: auto;
}
.main img {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -11%);
    width: inherit;
}

.mainGif { 
    grid-area: 3 / 4 / span 1 / span 1;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    width: auto;
}
.mainGif img {
    position: absolute;
    bottom: 0;
    transform: translate(-51.5%, -3%);
    width: auto;
}

#upColour {
    transform: translate(-50%, 0);
    width: auto;
}

.champagneRight { 
    grid-area: 3 / 5 / span 1 / span 1;
}

.champagneRight img {
    float: right;
}



/* Audio Controls 
------------------------------------*/

.audioConsole { 
    grid-area: 4 / 3 / span 1 / span 3;
    height: 90px;
    margin: 30px auto 20px auto;
}

.controls {
    float: left;
    padding: 8px;
}

.animationSwitch { 
    grid-area: 5 / 3 / span 1 / span 3;
    height: 250px;
    margin: 0 auto;
    padding: 0;
}

.switch {
    width: 100px;
    float: left;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.animationSwitch img {
     padding: 10px;
}

#playBtn {
    padding-left: 0;
}

#partyTime, #drinks1, #drinks2, #boombox {
    display: none;
}

