:root {
    background-color: #F2A007;
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
:root img {
    width: 100%;
}

/* Global styles
------------------------------------*/

body {
    max-width: 1920px;
    margin: 0 auto;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 2.5% 2.5% 30% 30% 30% 2.5% 2.5%;
    border: 10px solid #011526;
}

button {
    outline: none;
    border: none;
    background: none;
    padding: 0;
}


/* Graphics 
------------------------------------*/

.writing { 
    grid-area: 2 / 3 / span 1 / span 2;
    margin: 0 auto;
}

.lights { 
    grid-area: 2 / 1 / span 2 / span 7;
}

.champagneLeft { 
    grid-area: 3 / 3 / span 1 / span 1;
}

.rainbow {
    grid-area: 3 / 1 / span 1 / span 7;
    margin-top: 13%;
    width: 100%;
}

.upColour { 
    grid-area: 3 / 4 / span 1 / span 1;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
 }
 .upColour img {
    position: absolute;
    width: auto;
    height: 4%;
    bottom: 0;
    transform: translate(-50%, -11%);
 }


.main { 
    grid-area: 3 / 4 / span 1 / span 1;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
 }
 .main img {
    position: absolute;
    width: auto;
    height: 35%;
    bottom: 0;
    transform: translate(-50%, -11%);
 }

 .mainGif { 
    grid-area: 3 / 4 / span 1 / span 1;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
 }
 .mainGif img {
    position: absolute;
    width: auto;
    height: 40%;
    bottom: 0;
    transform: translate(-51.5%, -4%);
 }

.champagneRight { 
    grid-area: 3 / 5 / span 1 / span 1;
}

.champagneRight img {
    float: right;
}



/* Audio Controls 
------------------------------------*/

.audioConsole { 
    grid-area: 4 / 3 / span 1 / span 3;
    margin: 2% auto 2% auto;
}

.controls {
    float: left;
    padding: 8px;
}

.audioConsole button {
    height: 50%;
}

.animationSwitch { 
    grid-area: 5 / 3 / span 1 / span 3;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.switch {
    float: left;
    margin: auto;
    max-width: 105px;
    text-align: center;
    text-transform: uppercase;
}

.animationSwitch button {
    padding: 0 10px 10px 10px;
}

#playBtn {
    padding-left: 0;
}

#partyTime, #drinks1, #drinks2, #boombox {
    display: none;
}

